# 02-api

Now that we have the customer history in the database, we want to enrich it with data that we get from an external API source. Design a pipeline that will pull the data from the pipeline and enrich the customer data daily.

In [2]:
# Once docker is started (docker compose up), validate the api is working
import requests

resp = requests.get("http://localhost:8000/addresses")
resp.json()

[{'city': 'Chicago', 'email': 'john_doe@gmail.com', 'state': 'IL'},
 {'city': 'Annapolis', 'email': 'jane_doe@gmail.com', 'state': 'MD'}]

In [1]:
import pandas as pd

pd.read_json("http://localhost:8000/addresses")

        city               email state
0    Chicago  john_doe@gmail.com    IL
1  Annapolis  jane_doe@gmail.com    MD